* {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}

body {
    background: #000;
    color: #fff;
    margin: 0;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    font-family: sans-serif;
    font-size: 14px;
}

#ui {
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, .5);
    padding: 10px 20px;
    width: 100%;
}

#map1, #map2 {
    
    opacity: 0;
    transition: opacity 0.3s;
    -webkit-transition: opacity 0.3s;
}

#resetTracking {
    border: 0;
    padding: 5px 10px;
    background-color: rgba(255, 255, 255, .8);
    color: rgba(0,0,0,.9);
    font-size: 100%;
    position: absolute;
    right: 10px;
}